/* ===========================
   Responsive Styles
=========================== */

/* Tablets */
@media (max-width: 1024px) {
  /* adjust sections for tablets */
  @media (max-width: 768px) {
    .shery-cursor,
    .mouse-follower {
      display: none !important;
    }
  }
}

/* Large Phones */
@media (max-width: 768px) {
  /* adjust layout for big phones */

  #nav {
    margin: 0px;
    padding: 10px;
  }
  #navRight {
    display: none;
  }
  @media (max-width: 768px) {
    .shery-cursor,
    .mouse-follower {
      display: none !important;
    }
  }
}

/* Small Phones */
@media (max-width: 480px) {
  /* adjust layout for small phones */
  #navRight {
    display: none;
  }
  @media (max-width: 768px) {
    .shery-cursor,
    .mouse-follower {
      display: none !important;
    }
  }
  #headingText h2 {
    font-size: 12vw;
    text-align: left;
    width: 90vw;
    height: 24vh;
    margin-top: 0px;
    padding-top: 0px;
  }
  #headingText h4 {
    font-size: 6vw;
    text-align: left;
    width: 90vw;
    height: 10vh;
    margin-top: 0px;
    padding-top: 0px;
  }
  #heroInformation {
    width: 100vw;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4vw;
    margin-top: 40px;
  }
  #heroVideo #heroInformation video {
    width: 95vw;
    height: 40vh;
    padding: 0px;
    margin: 0px;
    border-radius: 4vw;
  }
  #ourPhilosophyVideo {
    display: none;
  }
  #ourPhilosophyText {
    margin: 0px;
    padding: 0px;
  }
  #ourPhilosophyInfo {
    padding: 0px;
    padding-top: 40px;
  }
  #ourPhilosophyText p {
    font-size: 6vw;
    width: 100%;
    padding: 20px;
  }
  #ourPhilosophyText button {
    width: 90%;
    font-size: 5vw;
    padding: 10px 0px;
    margin-left: 5%;
    border-radius: 10vw;
    margin-bottom: 60px;
  }
  #FPText video {
    display: none;
  }
  #FPText p {
    font-family: "AvertaCY", sans-serif;
    font-size: 15vw;
    font-weight: bold;
  }
  #featuredProjectHeadingText {
    font-size: 15vw;
    padding: 10vw 10vw;
    font-weight: bold;
  }
  #featuredProjectHeading {
    padding: 0px;
  }
  #featuredProjectContent {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    height: 5400px;
  }
  #featuredProjectContentleft {
    width: 100%;
    padding: 0px;
    margin: 0px;
    gap: 10px;
    margin-left: 25px;
    margin-top: 20px;
  }
  #featuredProjectContentright {
    width: 100%;
    padding: 0px;
    margin: 0px;
    gap: 10px;
    margin-left: 25px;
    margin-top: 0px;
  }
  .featuredContentBox1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 95%;
    height: 95%;
  }
  .featuredContentBox1 .video-hover-container {
    width: 400px;
    max-width: 100vw;
    height: 400px;
    max-height: 400px;
  }
  .featuredContentBox1text {
    width: 100%;
    margin: 0px;
    padding: 0px;
  }
  .featuredContentBox1text p {
    width: 100%;
    font-size: 5vw;
  }
  #projectsButton {
    width: 100vw;
    padding: 0px;
    margin: 0px;
  }
  #projectsButton button {
    width: 90vw;
    font-size: 6vw;
    border-radius: 10vw;
    margin-bottom: 0px;
  }
  #featuredProjectMain {
    height: 5800px;
  }
  #ourServicesMain {
    padding: 20px;
  }
  #ourServicesHeading p {
    font-size: 12vw;
  }
  #ourServicesContent {
    display: flex;
    flex-direction: column;
  }
  #ourServicesContentleft {
    width: 90vw;
    margin-top: 40px;
  }
  #ourServicesContentLeftHeading {
    font-size: 5vw;
    width: 100%;
    line-height: 30px;
  }
  .ourServicesContentBox {
    width: 90vw;
    height: 120vw;
  }
  .ourServicesContentBox .video-hover-container {
    width: 90vw;
    max-width: 90vw;
  }
  .ourServicesContentBoxText h3 {
    font-size: 6vw;
  }
  .ourServicesContentBoxText p {
    font-size: 6vw;
  }
  #ourServicesContentright .ourServicesContentBox {
    height: 120vw;
  }
  #ourServicesContentright {
    margin-top: 20px;
  }
  #ourServicesButton {
    width: 90vw;
  }
  #ourServicesButton button {
    width: 90vw;
    font-size: 6vw;
    margin-bottom: 20px;
  }
  #blogSectionMain {
    padding: 20px;
  }
  #blogSectionHeading {
    padding-top: 40px;
    font-size: 14vw;
  }
  .blogSectionContentImage img {
    width: 90vw;
    border-radius: 1vw;
  }
  .blogSectionContentBox {
    flex-direction: column;
  }
  .blogSectionContentText {
    width: 90vw;
  }
  .blogSectionContentText button {
    font-size: 4vw;
    border-radius: 10vw;
    padding: 8px 10px;
  }
  .blogSectionContentText p {
    font-size: 6vw;
  }
  .blogSectionContentText .blogSectionContentInfo {
    width: 92vw;
    color: white;
    font-size: 6.2vw;
    font-weight: 600;
  }
  .blogSectionContentText p {
    font-size: 4vw;
  }
  #blogSectionButton {
    width: 90vw;
  }
  #blogSectionButton button {
    width: 90vw;
    font-size: 4vw;
    border-radius: 10vw;
  }
  .tellUsContent p {
    font-size: 12vw;
  }
  .tellUsContent button {
    border-radius: 15vw;
    font-size: 12vw;
  }
  #footerMain {
    flex-direction: column;
    padding: 20px;
  }
  .InfoAddress {
    display: flex;
    flex-direction: column;
    gap: 90px;
  }
  .address1 {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  .address1 button {
    width: 70vw;
    font-size: 5vw;
    border-radius: 10vw;
  }
  .address1 p {
    font-size: 6vw;
  }
  #privacyPolicyCuberto p {
    font-size: 5vw;
  }
  #footerMainRight {
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: right;
  }
  .footerRightOptions {
    display: flex;
    gap: 40px;
    color: white;
    font-size: 6.5vw;
    justify-content: center;
    margin-top: 40px;
  }
  .socialMediaLinks a svg {
    width: 47px;
    color: white;
    background-color: #1a1a1a;
    border-radius: 5vw;
    padding: 10px;
  }
  #ourServicesPageHeading {
    display: flex;
    align-items: flex-start;
    margin-top: 120px;
  }
  #ourServicesPageHeading p {
    font-size: 5vw;
    margin-left: 20px;
  }
  #ourServicesPageHeading h2 {
    width: 100%;
    font-size: 12vw;
    margin-left: 20px;
    display: flex;
    align-items: flex-start;
    line-height: 60px;
    margin-left: 20px;
    text-align: left;
  }
  #ourServicesPageVideo {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  #ourServicesPageVideo video {
    width: 95%;
    height: 55vh;
    border-radius: 1vw;
    object-fit: cover;
    object-position: center;
    border-radius: 4vw;
  }
  #ourServicesPageOurSolutionMain {
    padding: 20px;
  }
  #ourSolutionHeading h2 {
    font-size: 12vw;
  }
  #ourServicesPageOurSolutionMain {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }
  #ourSolutionHeading {
    font-size: 3vw;
    margin-bottom: 30px;
  }
  .ourSolutionContentMain {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  .ourSolutionContentLeft p {
    text-transform: uppercase;
    width: 90vw;
    font-weight: 700;
  }
  .ourSolutionContentRight {
    width: 90vw;
    margin-right: 50px;
  }
  .ourSolutionContentRight p {
    font-size: 5.5vw;
    padding-top: 50px;
  }
  .ourSolutionContentRight button {
    padding: 25px 50px;
    background-color: white;
    color: black;
    border: 1.5px solid black;
    border-radius: 12vw;
    font-size: 6.2vw;
    margin-top: 50px;
    font-weight: 500;
  }
  #workingWithUsHeading {
    font-size: 3vw;
    width: 90vw;
    margin-bottom: 5vh;
  }
  #ourServicesWorkingWithUsMain {
    padding: 20px;
    color: white;
    padding-bottom: 100px;
  }
  #workingWithUsHeading h2 {
    width: 90vw;
    font-size: 12vw;
    margin-top: 30px;
  }
  .workingWithUsContentBox {
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    justify-content: space-between;
    border-top: 1.5px solid #c9c9c9;
    padding-top: 5vh;
    margin-bottom: 5vh;
  }
  .workingWithUsContentLeft {
    width: 26.5vw;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
  }
  .workingWithUsContentLeft p {
    text-transform: uppercase;
    font-size: 3.5vw;
    font-weight: 600;
    width: 90vw;
    padding-top: 40px;
  }
  .workingWithUsContentRight p {
    width: 90vw;
    font-size: 5.2vw;
    padding-top: 30px;
    font-weight: 500;
  }
  #ourProjectsHeadingMain {
    padding: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
    justify-content: center;
    margin-top: 100px;
  }
  #ourProjectsHeadingMain h2 {
    font-size: 12vw;
  }
  #ourProjectsHeadingMain p {
    font-size: 5.5vw;
  }
  .ourHeadingButtons {
    width: 100vw;
    display: flex;
    gap: 0px;
    margin-top: 0px;
  }
  .ourHeadingButtons button {
    font-size: 16px; /* or try 18px / 20px depending on look */
    padding: 12px; /* adjust padding if needed */
  }
  #projectShowcaseMain {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
  }
  #projectShowcaseLeft {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
  }
  .projectShowcaseBox {
    width: 90vw;
    height: 65vh;
    cursor: pointer;
    transition: transform 0.3s ease;
  }
  .project-image-container {
    overflow: hidden;
    border-radius: 1vw;
    transition: border-width 0.3s ease;
    height: 50vh;
    position: relative;
  }
  .projectShowcaseBoxtext p {
    font-size: 5vw;
    width: 90vw;
  }
  #projectShowcaseRight {
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 320px;
  }
  #companyPageHeadingMain {
    padding: 120px 20px;
    padding-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  #companyPageHeadingMain h2 {
    font-size: 10vw;
    text-align: center;
  }
  #companyPageHeadingMain img {
    width: 90vw;
    margin-top: 8vh;
    border-radius: 5vw;
    height: 55vh;
    object-fit: cover;
  }
  .companySec1 {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    gap: 20px;
  }
  #companyPageContentMain {
    padding: 20px;
  }
  #companyPageSection1 {
    padding: 0px;
  }
  .companySec1Left {
    width: 90vw;
    font-size: 4vw;
    text-transform: uppercase;
  }
  .companySec1Right {
    width: 90vw;
    font-size: 6vw;
  }
  .companySec1Image {
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    margin-top: 10vh;
  }
  .companySec1Image img:nth-child(1) {
    margin-bottom: 0px;
    width: 90vw;
    border-radius: 3vw;
  }
  .companySec1Image img:nth-child(2) {
    margin-top: 20px;
    width: 90vw;
    border-radius: 3vw;
  }
  #companyPageSection2 {
    padding: 0px;
  }
  #companyPageSection2Heading p {
    width: 90vw;
    font-size: 12vw;
    margin-top: 100px;
    line-height: 50px;
  }
  #companyPageSection2Heading {
    font-size: 4vw;
    font-weight: 800;
    width: 90vw;
  }
  .companyPageSection2Info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px solid #808080;
  }
  .companyPageSection2InfoLeft {
    width: 90vw;
    font-size: 4vw;
    text-transform: uppercase;
  }
  .companyPageSection2InfoRight p {
    font-size: 1vw;
  }
  .companyPageSection2InfoRight p {
    font-size: 6vw;
    width: 90vw;
    font-weight: 500;
  }
  .companyPageSection2InfoRight {
    margin-top: 30px;
    width: 90vw;
  }
  .companyPageSection2InfoBottom {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
  .companyPageSection2InfoBottom p {
    font-size: 12vw;
  }
  .companyPageSection2InfoBottom h5 {
    font-size: 5vw;
  }
  .companyMainImage2 {
    margin-top: 50px;
    /* border: 5vw; */
  }
  .companyMainImage2 img {
    width: 100%;
    border-radius: 5vw;
  }
  #companyPageSection3 {
    padding: 60px 0px;
  }
  #companyPageSection3Heading h2 {
    font-size: 12vw;
    width: 90vw;
    letter-spacing: -2px;
  }
  .companyPageSection3Info {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    margin-top: 20px;
    border-top: 2px solid #808080;
    padding-top: 20px;
  }
  .companyPageSection3InfoLeft {
    width: 90vw;
    font-size: 4.5vw;
    text-transform: uppercase;
  }
  .companyPageSection3InfoRight {
    width: 90vw;
    font-size: 6vw;
    margin-right: 5vw;
    letter-spacing: -1px;
    margin-top: 30px;
  }
  .companyMainVideo video {
    object-fit: cover;
    object-position: center;
    width: 90vw;
    height: 50vh;
    border-radius: 5vw;
  }
  #companyPageSection4 {
    padding: 5vh 0vw;
  }
  #companyPageSection4Heading p {
    font-size: 10.5vw;
    font-weight: 800;
    width: 90vw;
    line-height: 55px;
  }
  .companyLogos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
  }
  .companyLogoMain {
    display: flex;
    width: 90vw;
  }
  .companyLogoMain {
    display: flex;
    /* flex-direction: column; */
    gap: 10px;
    margin-top: 30px;
    margin-right: 0px;
  }
  .companyLogos img {
    width: 27%;
  }
  .companyFeedback {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    margin-top: 20px;
    border-top: 2px solid #808080;
  }
  .companyFeedbackLeft {
    width: 90vw;
    text-transform: uppercase;
    font-size: 4.5vw;
  }
  .companyFeedbackRight p:nth-child(1) {
    font-size: 4.5vw;
    text-transform: uppercase;
    margin-top: 10px;
  }
  .companyFeedbackRight p:nth-child(2) {
    font-size: 6vw;
    width: 90vw;
    padding: 20px 0px;
  }
  .companyFeedbackRight a button {
    width: 60vw;
    font-size: 6vw;
    border-radius: 8vw;
  }
  .companyFeedbackImage {
    display: flex;
    flex-direction: column;
    margin-top: 50px;
  }
  .companyFeedbackImage img:nth-child(1) {
    margin-bottom: 10px;
    width: 90vw;
    border-radius: 5vw;
  }
  .companyFeedbackImage img:nth-child(2) {
    margin-top: 10px;
    width: 90vw;
    border-radius: 5vw;
  }
  .getToKnowUs {
    background-color: white;
    padding: 20px;
  }
  .getToKnowUsHeading p {
    width: 90vw;
    font-size: 12vw;
    line-height: 50px;
    margin-top: 70px;
  }
  .getToKnowUsInfo {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding-top: 20px;
    border-top: 2px solid #808080;
  }
  .getToKnowUsLeft {
    width: 45vw;
    font-size: 4.8vw;
    text-transform: uppercase;
  }
  .getToKnowUsRight {
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .getToKnowUsRight p {
    font-size: 6vw;
    width: 90vw;
  }
  .ourHeadingButtons {
    width: 90vw;
    display: flex;
    gap: 4px;
    margin-top: 0px;
  }
  .ourHeadingButtons button {
    font-size: 13px;
    padding: 12px;
  }
  #blogContentBoxAreaMain {
    padding: 20px;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }
  #blogContentBoxAreaMainLeft {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  .blogContentBox1 {
    display: inline-block;
    cursor: pointer;
    height: 350px;
  }
  .blogContentBoxText button {
    padding: 4px 8px;
    width: fit-content;
    border: 1px solid black;
    background-color: white;
    color: black;
    border-radius: 4vw;
    font-size: 3vw;
    font-weight: 600;
    text-transform: uppercase;
  }
  .blogContentBoxText p:nth-child(2) {
    font-size: 5vw;
    font-weight: 600;
  }
  .blogContentBoxText p:nth-child(3) {
    font-size: 4vw;
    font-weight: 500;
    color: #808080;
  }
  .blogContentBoxImage {
    height: 26vh;
    overflow: hidden;
    border-radius: 5vw;
    border: 4px solid transparent;
    transition: border 0.3s ease, transform 0.3s ease;
  }
  #blogContentBoxAreaMainRight {
    width: 90vw;
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 60px;
  }
}
